<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Posts</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>GroupGram</h1>
  <hr>

  <% posts.forEach(post => { %>
    <div class="post">
      <div class="board">
      <h3 class="user">@<%= post.username %> </h3> 
      <img src="<%= post.img %>" alt="Profile picture of <%= post.username %>" class="profile-pic" />
      </div>
      <p class="content">Followers:<%= post.followers %></p>
      <p class="content">Following:<%= post.following %></p>
      <p class="content">Posts:<%= post.posts %></p>
      
      <div class="buttons">
      <a href="/posts/<%= post.id %>"><button class="button">Profile</button></a>
      <a href="/posts/<%= post.id %>/edit"><button class="button">Posts</button></a>
      </div>
    </div>
  <% }); %>
</body>
</html>