<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Posts</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Quora Posts</h1>
  <a href="/posts/new"><button class="button">Create new Post</button></a>
  <hr>

  <% posts.forEach(post => { %>
    <div class="post">
      <h3 class="user">@<%= post.username %> </h3>
      <p class="content"><%= post.content %></p>
      <div class="buttons">
      <a href="/posts/<%= post.id %>"><button class="button">Click here to get detail of it</button></a>
      <a href="/posts/<%= post.id %>/edit"><button class="button">Click here to edit</button></a>
      <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
      <button class="button">Delete</button></a>
      </form>
      </div>
    </div>
  <% }); %>
</body>
</html>